@charset "UTF-8";
/* Variables para colores */
/* Variables para transiciones */
/* Variables para márgenes */
/* Variables para colores */
/* Variables para transiciones */
/* Variables para márgenes */
/*estilos de header*/
header {
  /*le damos el espacio de afuera*/
  margin: 20px 50px;
  /*le damos espacio dentro*/
  padding: 10px;
  box-shadow: 0px 5px silver;
}
header div img {
  width: 50%;
  height: auto;
}
header div p {
  font-size: 20px;
  width: 100%;
}
header div p span {
  font-style: italic;
  font-weight: bolder;
}
@media screen and (max-width: 480px) {
  header div p {
    font-size: 15px;
    width: 100%;
  }
}

.estilo-menu a {
  font-size: 25px;
  color: #FF3F72;
}

.navbar .navbar-brand:hover {
  color: whitesmoke;
  background-color: #FF3F72;
  transition: color 0.3s ease;
  background-color: rgba(255, 63, 114, 0.5);
}
.navbar .navbar-brand.active {
  color: whitesmoke;
  background-color: #FF3F72;
  transition: color 0.3s ease;
  font-style: italic;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: whitesmoke;
  background-color: #FF3F72;
  transition: color 0.3s ease;
  background-color: rgba(255, 63, 114, 0.5);
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: whitesmoke;
  background-color: #FF3F72;
  transition: color 0.3s ease;
  font-style: italic;
}
.navbar .navbar-nav .nav-item .oculto {
  visibility: hidden;
}

/*estilos de main*/
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 45px;
}
@media screen and (max-width: 480px) {
  .contenedor div img {
    padding: 0px 15px;
    width: 100%;
    height: 100%;
  }
}
.contenedor .parrafos {
  margin: 0px 150px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.contenedor .parrafos span {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .contenedor .parrafos {
    margin: 5px 20px;
    text-align: center;
  }
}
.contenedor .whatsapp-link {
  position: fixed;
  background-color: #FF3F72; /* Cambia el color de fondo */
  padding: 10px 20px;
  border-radius: 20px;
  width: 100px;
  height: 90px;
  bottom: 150px;
  right: 50px;
}
@media screen and (max-width: 480px) {
  .contenedor .whatsapp-link {
    position: static;
    width: 50%;
    height: 50%;
  }
}
.contenedor .whatsapp-link img {
  width: 100%;
  height: auto;
}

main {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main div p span {
  font-weight: bolder;
}

.prox p {
  font-size: 50px;
  font-weight: bold;
  padding: 10px 50px 250px;
}
@media screen and (max-width: 480px) {
  .prox p {
    font-size: 20px;
    text-align: center;
  }
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .productos {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .productos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
.productos .producto {
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  height: 400px; /* Establece el mismo alto para todos los productos */
  margin: 20px;
  text-align: center;
  overflow: hidden; /* Evita que las descripciones sobresalgan */
}
@media screen and (max-width: 480px) {
  .productos .producto {
    width: 90%;
  }
}
.productos .producto img {
  width: 80%;
  height: 50%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}
@media screen and (max-width: 480px) {
  .productos .producto img {
    width: 80%;
  }
}
.productos .producto .descripcion {
  padding: 10px;
  margin-top: 10px;
}
.productos .producto .descripcion a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 480px) {
  .productos .producto .descripcion {
    justify-content: center;
  }
}
.productos .producto .descripcion button {
  background-color: #FF3F72;
  color: #ffffff;
  border: 1px solid #FF3F72;
  padding: 10px 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.item {
  margin: 0px 30px 70px;
  text-align: justify;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .item {
    text-align: justify;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .item {
    text-align: justify;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
  }
}
.item img {
  margin-right: 30px;
}
@media screen and (max-width: 480px) {
  .item img {
    width: 90%;
    margin: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .item img {
    display: block;
    margin: 0 auto;
  }
}
.item div {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
@media screen and (max-width: 480px) {
  .item div {
    margin: 0px 10px;
  }
}
.item .whatsapp-link {
  position: fixed;
  background-color: #FF3F72; /* Cambia el color de fondo */
  padding: 10px 20px;
  border-radius: 20px;
  width: 100px;
  height: 90px;
  bottom: 30px;
  right: 5px;
}
@media screen and (max-width: 480px) {
  .item .whatsapp-link {
    background-color: transparent;
  }
}
.item .whatsapp-link img {
  width: 100%;
  height: auto;
}

.contact {
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.contact .boton-enviar {
  background-color: #FF3F72;
  border: none;
  color: white;
  padding: 15px 32px; /* Relleno (arriba/abajo, izquierda/derecha) */
  text-align: center; /* Alineación del texto */
  text-decoration: none;
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 16px;
  margin: 4px 2px; /* Márgenes (arriba/abajo, izquierda/derecha) */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 8px; /* Borde redondeado */
  width: 120px; /* Ancho del botón */
}

/*estilos de section*/
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
section div img {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: solid #FF3F72;
}
@media screen and (max-width: 480px) {
  section div img {
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  section div img {
    width: 600px;
    height: 100%;
  }
}
section div a {
  text-decoration: none;
  text-align: center;
}
section div p {
  border: 20px solid #FF3F72;
  background-color: #FF3F72;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
}
.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

/*estilos de footer*/
footer {
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
}

/*# sourceMappingURL=main.css.map */
