/* Variables para colores */
$color-bagues: #FF3F72;
$color-bagues-hover: rgba(255, 63, 114, 0.5); 

/* Variables para transiciones */
$transicion-color: color 0.3s ease;

/* Variables para márgenes */
$margen-parrafos: 150px;
